<div class="allContainer">
    <div class="courseContainer">
        {% for item in itemList %}
        <ul id="j-mycourselist-data-con" class="mycourse_ul clearfix">
            <li class="tb">
                <a class="tb_link" href="/qingye/courseList11/{{ item.engmoduid }}/">
                    <div class="mycourse_block_hd clearfix">
                        <div class="lessonpic_hd">
                            <div class="lesson_wufangtu">
                            </div>
                        </div>
                        <div class="mycourse_info_hd">
                            <div class="myccourse_title">{{ item.engtypename }} {{ item.engmoduname }}</div>
                            <div class="mycourse_le_info_hd">
                                该模块有困难？找我就对了！
                            </div>
                            <div class="progress_container">
                                <div class="progress_hd">
                                    <div class="total_lesson_count_p">
                                        共10节
                                    </div>
                                    <div class="progress_bar_hd">
                                        <div class="progress_bar" style="width: 598px "></div>
                                    </div>
                                    <div class="time_period_hd clearfix">
                                        <span class="time_period l">{{ item.buytime }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
{#                        <div class="more_hd">#}
{#                            <div class="more_icon j-more"></div>#}
{#                            <div class="more_list_hd">#}
{#                                <div class="more_btn remove_btn j-remove-btn"><span></span>删除课程</div>#}
{##}
{#                                <input type="hidden" value="KC3065250SuDK5vyknT8h" class="j-item-on">#}
{#                                <input type="hidden" value="1477" class="j-item-id">#}
{#                            </div>#}
{#                        </div>#}
                    </div>
                </a>
                <div class="exp_date_hd">
                    2018-12-22 到期
                </div>
            </li>
        </ul>
        {% endfor %}
{#        <ul id="j-mycourselist-data-con" class="mycourse_ul clearfix">#}
{#            <li class="tb">#}
{#                <a class="tb_link" href="/qingye/courseList24/">#}
{#                    <div class="mycourse_block_hd clearfix">#}
{##}
{#                        <div class="lessonpic_hd">#}
{#                            <div class="lesson_wufangtu">#}
{#                            </div>#}
{#                        </div>#}
{##}
{#                        <div class="mycourse_info_hd">#}
{#                            <div class="myccourse_title">英语二 翻译</div>#}
{#                            <div class="mycourse_le_info_hd">#}
{#                                该模块有困难？找我就对了！#}
{#                            </div>#}
{#                            <div class="progress_container">#}
{#                                <div class="progress_hd">#}
{#                                    <div class="total_lesson_count_p">#}
{#                                        共9节#}
{#                                    </div>#}
{#                                    <div class="progress_bar_hd">#}
{#                                        <div class="progress_bar" style="width: 598px "></div>#}
{#                                    </div>#}
{#                                    <div class="time_period_hd clearfix">#}
{#                                        <span class="time_period l">2018-05-04 19:00</span>#}
{#                                        <span class="time_period r">2018-05-09 22:00</span>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                        <!--<div class="more_hd">#}
{#                            <div class="more_icon j-more"></div>#}
{#                            <div class="more_list_hd">#}
{#                                    <div class="more_btn remove_btn j-remove-btn"><span></span>删除课程</div>#}
{#                                #}
{#                                <input type="hidden" value="KC3065250SuDK5vyknT8h" class="j-item-on">#}
{#                                <input type="hidden" value="1477" class="j-item-id">#}
{#                            </div>#}
{#                        </div>-->#}
{#                    </div>#}
{#                </a>#}
{#                <div class="exp_date_hd">#}
{#                    2018-12-22 到期#}
{#                </div>#}
{#            </li>#}
{#        </ul>#}
    </div>
</div>
<script>

</script>