<div class="jumbotron">
    <!--介绍-->
    <div class="mainContent">
        <!--主要人群-->
        <div class="learning-time wow bounceInUp" data-wow-duration="2s" style="padding-top: 0px">
            <div class="container">
                <h2 class="title" align="center">真的没有时间
                    <canvas id="clock" height="200px" width="200px"></canvas>
                    学习英语吗?
                </h2>
                <div class="time-trend">
                    <h4>2017年在线学习人群的学习时段数据分布</h4>
                    <img class="img-responsive" src="/static/image/trend.png" alt=""/>
                </div>
            </div>
            <div class="learning-crowd">
                <div class="container">
                    <h4 class="title1">
                        <span>30%</span>的人群在<span>早8点前</span>和<span>晚22点后</span>进行在线学习，每天至少可多得<span>5小时</span>学习时间；
                        线下培训班，往返路程平均浪费<span>1.5小时</span>，在线学习帮你节省时间用来享受生活。
                    </h4>
                    <div class="text-center" align="center">
                        <img src="/static/image/block-split.png" alt=""/>
                    </div>
                    <div class="boxContain1" align="center">
                        <div class="row wow bounceIn" data-wow-duration="2s" align="center">
                            <div class="crowd-item col-md-3 col-sm-6 wow bounceInRight">
                                <div id="box_11">
                                    <img src="/static/image/zqz.png" alt=""/>
                                    <h4>我是</h4>
                                    <h3>早起族</h3>
                                    <p style="font-size: 12px;">早7点别人还在睡觉，而我在跟英国外教网聊下午茶&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                                </div>
                            </div>
                            <div class="crowd-item col-md-3 col-sm-6  wow bounceInRight" data-wow-delay="0.3s">
                                <div id="box_22">
                                    <img src="/static/image/ymz.png" alt=""/>
                                    <h4>我是</h4>
                                    <h3>夜猫子</h3>
                                    <p style="font-size: 12px;">夜深人静时，我的注意力最专注，此时不学更待何时&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                                </div>
                            </div>
                            <div class="crowd-item col-md-3 col-sm-6  wow bounceInRight" data-wow-delay="0.5s">
                                <div id="box_33">
                                    <img src="/static/image/znzn.png" alt=""/>
                                    <h4>我是</h4>
                                    <h3>宅男/女</h3>
                                    <p style="font-size: 12px;">不出门也可以跟老师嗨聊，全世界的新鲜事照样全知道&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                                </div>
                            </div>
                            <div class="crowd-item col-md-3 col-sm-6  wow bounceInRight" data-wow-delay="0.7s">
                                <div id="box_44">
                                    <img src="/static/image/lhz.png" alt=""/>
                                    <h4>我是</h4>
                                    <h3>乐活族</h3>
                                    <p style="font-size: 12px;">你还在去上课的路上，我已经躺在沙发上学完在看电影</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--课程体系-->
        <div class="course-system">
            <div class="container">
                <div class="text-center wow zoomIn" align="center">
                    <img class="img-responsive" src="/static/image/course_system.png" alt=""/>
                </div>
                <h2 class="title2" align="center">6款课程体系，总有一款适合你</h2>
                <h4 class="subtitle" align="center">
                      <span>
                          优质教育行业背景，专业研发团队，
                          针对不同学习需求，打造全面完善的课程体系
                      </span>
                </h4>
            </div>
        </div>
    </div>
    <!--学习流程-->
    <div class="learning-process">
        <div class="container">
            <div class="boxContain">
                <div id='box_1'>
                    <img class="img-responsive" src="/static/image/learning_process01.png" alt="嘻嘻">
                    <p>会员注册 / 登录</p>
                </div>
                <div id='box_2'>
                    <img class="img-responsive" src="/static/image/learning_process02.png" alt="改革">
                    <p>购买相关课程</p>
                </div>
                <div id='box_3'>
                    <img class="img-responsive" src="/static/image/learning_process03.png" alt="各个环节">
                    <p class="intercept">
                        自选外教/时间
                    </p>
                </div>
                <div id='box_4'>
                    <img class="img-responsive" src="/static/image/learning_process04.png" alt="">
                    <p>电脑登录上课</p>
                </div>
            </div>
            <h2 class="title" align="center">学习流程</h2>
            <h4 class="subtitle" align="center">
                <span>仅需4步，轻松开启在线学习之旅</span>
            </h4>
        </div>
    </div>
</div>
<script>
    var dom = document.getElementById("clock");
    var ctx = dom.getContext('2d');
    var cWidth = ctx.canvas.width;
    var cHeight = ctx.canvas.height;
    var r = cWidth / 2;
    function drawBackground() {
        ctx.save();
        ctx.translate(r,r);
        ctx.beginPath();
        ctx.lineWidth=10;
        ctx.arc(0 ,0 ,r-5,0,2*Math.PI,false);
        ctx.stroke();

        var hourNumbers = [3,4,5,6,7,8,9,10,11,12,1,2];
        ctx.font='18px Arial';
        ctx.textAlign ='center';
        ctx.textBaseline='middle';
        hourNumbers.forEach(function (number,i) {
            var rad = 2*Math.PI/12*i;
            var x =Math.cos(rad)*(r-30);
            var y =Math.sin(rad)*(r-30);
            ctx.fillText(number,x,y);
        });

        for (var i=0;i<60;i++){
            var rad = 2*Math.PI/60 *i;
            var x =Math.cos(rad)*(r-18);
            var y =Math.sin(rad)*(r-18);
            ctx.beginPath();
            if(i%5===0){
                ctx.fillStyle='#000';
                ctx.arc(x,y,2,0,2*Math.PI,false);
            }
            else{
                ctx.fillStyle='#ccc';
                ctx.arc(x,y,2,0,2*Math.PI,false);
            }
            ctx.fill();
        }
    }
    function drawHour(hour,minute){
        ctx.save();
        ctx.beginPath();
        var rad = 2 * Math.PI/12 * hour;
        var mrad=2 * Math.PI/12/60 * minute;
        ctx.rotate(rad+mrad);
        ctx.lineWidth=6;
        ctx.lineCap='round';
        ctx.moveTo(0,10);
        ctx.lineTo(0,-r/2);
        ctx.stroke();
        ctx.restore();
    }
    function drawMinute(minute){
        ctx.save();
        ctx.beginPath();
        var rad = 2 * Math.PI/60 * minute;
        ctx.rotate(rad);
        ctx.lineWidth=3;
        ctx.lineCap='round';
        ctx.moveTo(0,10);
        ctx.lineTo(0,-r + 30);
        ctx.stroke();
        ctx.restore();
    }
    function drawSecond(second){
        ctx.save();
        ctx.beginPath();
        ctx.fillStyle='#a01';
        var rad = 2 * Math.PI/60 * second;
        ctx.rotate(rad);
        ctx.moveTo(-2,20);
        ctx.lineTo(2,20);
        ctx.lineTo(1,-r + 18);
        ctx.lineTo(-1,-r + 18);
        ctx.fill();
        ctx.restore();
    }
    function drawDot(){
        ctx.beginPath();
        ctx.fillStyle='#fff';
        ctx.arc(0,0,3,0,2*Math.PI,false);
        ctx.fill();
    }

    function draw(){
        ctx.clearRect(0,0,cWidth,cHeight);
        var now = new Date();
        var hour = now.getHours();
        var minute= now.getMinutes();
        var second= now.getSeconds();
        drawBackground();
        drawHour(hour,minute);
        drawMinute(minute);
        drawSecond(second);
        drawDot();
        ctx.restore();
    }
    draw()
    setInterval(draw,1000);
</script>
