<div class="infoContainer">
<div class="settings_con_hd" id="j-settings-con-hd">
            <ul class="personal_data" id="j-personal">
                <li class="datas interval_bottom clearfix">
                    <h5 class="float_left">注册手机：</h5>
                    <div class="datas_con float_left">18910120193</div>
                </li>
                <li class="datas interval_bottom clearfix">
                    <h5 class="float_left">昵&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;称：</h5>
                    <input type="text" id="resetName" name="resetName" class="datas_con datas_box float_left" placeholder="{{name}}"></input>
                </li>
                <li class="datas clearfix">
                    <h5 class="float_left">密&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;码：</h5>
                        <input type="password" id="resetPassword" name="resetPassword" class="datas_con datas_box float_left"></input>
                    <a href="javascript:;" class="datas_con btn pwd_btn float_left" id="change_pwd_btn">修改</a>
                </li>
                    <li class="datas hint_setpwd">
                        <h5></h5>
                        为保证您的账户安全，请尽快设置密码
                    </li>
            </ul>
        </div>
</div>
 <script>
// 	$(function(){
//	  $('.datas_box').change(function(){
//		$('.pwd_btn').click(function(){
//			alert('购买成功！');
//		});
//	  });
//	});
 $('#change_pwd_btn').click(function(){
 	$.ajax({
 		type:"post",
 		url:"/QingyeEnglish/modify/",
 		data:{'resetName':'resetName','resetPassword':'resetPassword'},
 		dataType:'json',
 		function (data){
 			if(data.code==200){
 			alert("修改成功！");
 			}
 		},
 		async:true
 	});
 });
</script>


