<div class="yingYi-container">
  <!--<div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide">Slide 1</div>
      <div class="swiper-slide">Slide 2</div>
      <div class="swiper-slide">Slide 3</div>
      <div class="swiper-slide">Slide 4</div>
      <div class="swiper-slide">Slide 5</div>
    </div>
    <!-- Add Pagination -->
    <!--<div class="swiper-pagination"></div>-->
    <!-- Add Arrows -->
    <!--<div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>-->
  <div class="yingYi-content">
  	<div class="comprehension">
                    <a class="course_con ">

                        <div class="course_show_img box_sizing">

                            <div class="course_item_left">
                                <div class="course_class">{{ itemList.0.engtypename }} {{ itemList.0.engmoduname }}</div>


                                <div class="course_teacher_name">
                                        <div class="course_teacher_name_item">{{ itemList.0.teacher }}</div>
                                </div>

                                <div class="course_time">
                                                <span class="schooltime">2018.03.05-04.27</span>

                                        <span class="period">10</span>课时
                                </div>
                                <div class="detail_btn_hd">
        	                              <a href="/qingye/comprehension1/1/" id="j-buy" class="j_btn_control btn_normal_orange btn_common">了解详情</a>
                                </div>
                            </div>

                            <div class="course_item_img">
                                <img src="/static/image/learning_process02.png" style=" margin-left: 35%;margin-top: 30%;"/>
                            </div>


                        </div>
                    </a>

                    <ul class="sell_status box_sizing">
                        <li class="course_sell_price">

                                <div class="float_left">限购{{ itemList.0.limitnum }}人</div>

                                        <div class="float_right course_price"><span class="course_price_unti">RMB</span> <span>{{ itemList.0.costfee }}</span></div>
                        </li>

                        <li>
                                    <div class="float_left">已有13633人购买</div>
                                <input type="text" style="display:none;" class="sellEnd" value="1530288000000">
                                <div class="float_right surplus">距离停售还有<span>13小时</span></div>
                        </li>
                    </ul>
  	</div>
  	<div class="clozeText">
  		<a class="course_con ">

                        <div class="course_show_img box_sizing">

                            <div class="course_item_left">
                                <div class="course_class">{{ itemList.1.engtypename }} {{ itemList.1.engmoduname }}</div>


                                <div class="course_teacher_name">
                                        <div class="course_teacher_name_item">{{ itemList.1.teacher }}</div>
                                </div>

                                <div class="course_time">
                                                <span class="schooltime">2018.05.02-05.30</span>

                                        <span class="period">9</span>课时
                                </div>
                                <div class="detail_btn_hd">
        	                              <a href="/qingye/comprehension1/2/" id="j-buy" class="j_btn_control btn_normal_orange btn_common">了解详情</a>
                                </div>

                            </div>

                            <div class="course_item_img">
                                <img src="/static/image/learning_process02.png"  style=" margin-left: 35%;margin-top: 30%;"/>
                            </div>


                        </div>
                    </a>

                    <ul class="sell_status box_sizing">
                        <li class="course_sell_price">

                                <div class="float_left">限购{{ itemList.1.limitnum }}人</div>

                                        <div class="float_right course_price"><span class="course_price_unti">RMB</span> <span>{{ itemList.1.costfee }}</span></div>
                        </li>

                        <li>
                                    <div class="float_left">已有1234人购买</div>
                                <input type="text" style="display:none" class="sellEnd" value="1530288000000">
                                <div class="float_right surplus">距离停售还有<span>13小时</span></div>
                        </li>
                    </ul>
  	</div>
  	<div class="writing">
  		<a class="course_con ">

                        <div class="course_show_img box_sizing">

                            <div class="course_item_left">
                                <div class="course_class">{{ itemList.2.engtypename }} {{ itemList.2.engmoduname }}</div>


                                <div class="course_teacher_name">
                                        <div class="course_teacher_name_item">{{ itemList.2.teacher }}</div>
                                </div>

                                <div class="course_time">
                                                <span class="schooltime">2018.06.01-07.19</span>

                                        <span class="period">18</span>课时
                                </div>
                                <div class="detail_btn_hd">
        	                              <a href="/qingye/comprehension1/3/" id="j-buy" class="j_btn_control btn_normal_orange btn_common">了解详情</a>
                                </div>

                            </div>

                            <div class="course_item_img">
                                <img src="/static/image/learning_process02.png"  style=" margin-left: 35%;margin-top: 30%;"/>
                            </div>


                        </div>
                    </a>

                    <ul class="sell_status box_sizing">
                        <li class="course_sell_price">

                                <div class="float_left">限购{{ itemList.2.limitnum }}人</div>

                                        <div class="float_right course_price"><span class="course_price_unti">RMB</span> <span>{{ itemList.2.costfee }}</span></div>
                        </li>

                        <li>
                                    <div class="float_left">已有12223人购买</div>
                                <input type="text" style="display:none;" class="sellEnd" value="1530288000000">
                                <div class="float_right surplus">距离停售还有<span>13小时</span></div>
                        </li>
                    </ul>
  	</div>
  	<div class="translation">
  		<a class="course_con ">

                        <div class="course_show_img box_sizing">

                            <div class="course_item_left">
                                <div class="course_class">{{ itemList.3.engtypename }} {{ itemList.3.engmoduname }}</div>


                                <div class="course_teacher_name">
                                        <div class="course_teacher_name_item">{{ itemList.3.teacher }}</div>
                                </div>

                                <div class="course_time">
                                                <span class="schooltime">2018.06.24-07.18</span>

                                        <span class="period">12</span>课时
                                </div>
                                <div class="detail_btn_hd">
        	                              <a href="/qingye/comprehension1/4/" id="j-buy" class="j_btn_control btn_normal_orange btn_common">了解详情</a>
                                </div>

                            </div>

                            <div class="course_item_img">
                                <img src="/static/image/learning_process02.png"  style=" margin-left: 35%;margin-top: 30%;"/>
                            </div>


                        </div>
                    </a>

                    <ul class="sell_status box_sizing">
                        <li class="course_sell_price">

                                <div class="float_left">限购{{ itemList.3.limitnum }}人</div>

                                        <div class="float_right course_price"><span class="course_price_unti">RMB</span> <span>{{ itemList.3.costfee }}</span></div>
                        </li>

                        <li>
                                    <div class="float_left">已有1993人购买</div>
                                <input type="text" style="display:none" class="sellEnd" value="1530288000000">
                                <div class="float_right surplus">距离停售还有<span>13小时</span></div>
                        </li>
                    </ul>
  	</div>
  </div>
  <div style="clear: both;"></div>
</div>

