.btn-sign {
      display: inline-block;
      border-radius: 4px;
      background-color: #f4511e;
      border: 1px solid orangered;
      color: #FFFFFF;
      text-align: center;
      font-size: 10px;
      padding: 5px;
      cursor: pointer;
      margin: 5px;
    }
    .btn-sign span {
      cursor: pointer;
      display: inline-block;
      position: relative;
      transition: 0.5s;
    }
    .btn-sign span:after {
      content: '»';
      position: absolute;
      opacity: 0;
      top: 0;
      right: -20px;
      transition: 0.5s;
    }
    .btn-sign:hover span {
      padding-right: 25px;
    }
    .btn-sign:hover span:after {
      opacity: 1;
      right: 0;
    }
    .btn-log {
      display: inline-block;
      border-radius: 4px;
      background-color: white;
      border: 1px solid darkgrey;
      color: black;
      text-align: center;
      font-size: 10px;
      padding: 5px;
      cursor: pointer;
      margin: 5px;
    }
    .btn-log span {
      cursor: pointer;
      display: inline-block;
      position: relative;
      transition: 0.5s;
    }
    .btn-log span:after {
      content: '»';
      position: absolute;
      opacity: 0;
      top: 0;
      right: -20px;
      transition: 0.5s;
    }
    .btn-log:hover span {
      padding-right: 25px;
    }
    .btn-log:hover span:after {
      opacity: 1;
      right: 0;
    }
    @media only screen and (max-width:960px ) {
    	.top{
    		width:100%;
    	}
    }